############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

############################
# NetBeans
############################
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# VSCode
############################
.vscode/

############################
# Logs
############################
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Java
############################
*.class
hs_err_pid*
replay_pid*

############################
# Generated
############################
generated/

############################
# Graphviz
############################
*.dot

############################
# Temporary
############################
temp/
tmp/
